.paper-page {
  width: 2.8rem;
  height: 3.8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: pink;
  font-size: 0.12rem;
  transform: scale(0);
  border-radius: 0.1rem;
  box-shadow: 4px 4px 10px pink;
}
.paper-page h3{
  text-align: center;
}